#git rm -r -f --cached .
#git add .
#git commit -m 'update .gitignore'

.idea
*.iml
artJava-zookeeper-admin/target/
 /target
/.idea
*.iml
*.ipr
*.iws
.idea
*/*.log
*/target/
*.DS_Store
*.classpath
*.settings
*.project